.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-title {
  font-size: 18px;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}

.app-content {
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}
