<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip color="primary"
              *ngFor="let item of selectedItems"
              (remove)="onRemoveItems(item)"
              (click)="onChipClick.emit({ item: item })"
              >
      {{item}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input matInput placeholder=" {{ 'Type and Select Tags' | translate }}"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="true"
           [matAutocomplete]="language"
           [formControl]="addItems" #chipInput />
    <mat-autocomplete #language="matAutocomplete" (optionSelected)="onAddItems($event)">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        <span>{{ item.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-chip-list>
</mat-form-field>
