:host {
  display:block;
  height:100%;
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

ag-grid-angular {
  width: 100%;
  height: 100%;
  max-height:355px;
}

.page-content-container {
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  max-height: calc(100% - 120px);
}
