:host {
  display: block;
  background-color: #fff;
  max-width: 800px;
  padding: 20px;
}

mat-form-field, app-digital-asset-input-url {
  width: 100%;
}

div {
  max-height: 500px;
  overflow-y: auto;
}

form {
  margin-top: 20px;
  text-align: right;
}

app-quill-text-editor,
div.ql-editor.ql-blank {
  min-height: 200px;
  height: 200px;
}
