<mat-card>
  <section class="mat-typography">
    <h2>Commitments</h2>
  </section>
  <mat-card-title>
    {{ "Login" | translate }}
  </mat-card-title>
  <form novalidate autocomplete="off" spellcheck="false" [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="{{ 'Username' | translate }}"
             id="username"
             formControlName="username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="{{ 'Password' | translate }}"
             id="password"
             formControlName="password"
             type="password"
             required>
    </mat-form-field>

    <button mat-raised-button color="primary"
            (click)="tryToLogin({ value: this.form.value })"
            [disabled]="!form.valid"
            >{{ "Submit" | translate }}</button>
  </form>
</mat-card>
