:host {
  display:block;
}

app-primary-header {
  margin-bottom:20px;
}

section {
  margin-left: 20px;
}

#grid {
  display: grid;
  grid-auto-rows: 300px;
  grid-auto-columns: 240px;
  grid-gap: 20px;
  margin-bottom: 20px;
  max-height:calc(100% - 20px);
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
