<mat-card-title>
  Edit Commitment
</mat-card-title>

<mat-tab-group>
  <mat-tab label="Select Behaviour">
    <section>
      <mat-selection-list #behaviours>
        <mat-list-option *ngFor="let behaviour of (behaviours$ |async)" [value]="behaviour">
          {{ behaviour.name }}
        </mat-list-option>
      </mat-selection-list>
    </section>
  </mat-tab>

  <mat-tab label="Select Frequencies">
    <section>
      <mat-selection-list #frequencies>
        <mat-list-option *ngFor="let frequency of (frequencies$ |async)" [value]="frequency" (change)="onNgModelChange($event)">
          {{ frequency.frequency }} {{ frequency.frequencyType.name }}
        </mat-list-option>
      </mat-selection-list>
    </section>
  </mat-tab>
</mat-tab-group>

<div class="actions">
  <button mat-button (click)="handleSaveClick(behaviours)">Save</button>
  <button mat-button (click)="handleCancelClick()">Cancel</button>
</div>


