<app-primary-header>
  {{ "Tags" | translate }}
</app-primary-header>

<section class="page-content-container">
  <ag-grid-angular class="ag-theme-material"
                   [columnDefs]="columnDefs"
                   [rowData]="tags$ | async"
                   [pagination]="true"
                   [frameworkComponents]="frameworkComponents"
                   [paginationPageSize]="5"
                   [animateRows]="true"
                   (gridReady)="onGridReady($event)"
                   [localeText]="localeText">
  </ag-grid-angular>

  <div class="actions">
    <button mat-button (click)="handleCreateClick()"> {{ "Create" | translate }}</button>
  </div>
</section>
