<mat-toolbar color="primary" class="mat-elevation-z6">

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>Commitments</h1>

  <a class="profile-name" (click)="onProfileNameClick()">{{ profileName$ | async }}</a>
  <div mat-card-avatar class="header-image">&nbsp;</div>

</mat-toolbar>

<mat-sidenav-container class="app-content-container" autosize>
  <mat-sidenav #drawer class="sidenav" mode="side" (click)="drawer.close()">
    <button mat-button routerLink="/">{{ "Dashboard" | translate }}</button>
    <button mat-button routerLink="/activities">{{ "Activities" | translate }}</button>
    <button mat-button routerLink="/behaviours">{{ "Behaviours" | translate }}</button>
    <button mat-button routerLink="/behaviour-types">{{ "Behaviour Types" | translate }}</button>
    <button mat-button routerLink="/commitments">{{ "Commitments" | translate }}</button>
    <button mat-button routerLink="/cards">{{ "Cards" | translate }}</button>
    <button mat-button routerLink="/card-layouts">{{ "Card Layouts" | translate }}</button>
    <button mat-button routerLink="/frequencies">{{ "Frequencies" | translate }}</button>
    <button mat-button routerLink="/notes/create">{{ "Notes" | translate }}</button>
    <button mat-button routerLink="/profiles">{{ "Profiles" | translate }}</button>
    <button mat-button routerLink="/to-dos">{{ "To Do's" | translate }}</button>
    <button mat-button routerLink="/login">{{ "Logout" | translate }}</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="router-outlet-container">
      <router-outlet #router></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
