:host {
  display: block;
  color: #fff;
  height: 80px;
  background-color: rgb(63, 81, 181);
  padding-left: 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 0;
}
