:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  max-height: calc(100% - 120px);
}

ag-grid-angular {
  height: 300px;
}
