.notes-by-tag-content-container {
  display: grid;
  margin: 0 auto;
  max-width: 1080px;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);  
}

mat-card {
  height: 300px;
  cursor: pointer;
}
