:host {
  background-color: #fff;
  display: block;
  padding: 20px;

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    height: 400px;
    width: 1010px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 7px 7px 7px 7px;
  }

  mat-card {
    height: 200px;
  }

  mat-card.selected {
    height: 200px;
    background-color: var(--default-color,rgb(245,245,245));
  }
}

