<div class="tile">
  <div class="tile__icon">
    <mat-icon>waving_hand</mat-icon>
  </div>
  <div class="tile__content">
    <h2 class="tile__title">Hello World</h2>
    <p class="tile__description">
      Your Angular dashboard is ready! Start building your admin interface
      by adding more tiles and components.
    </p>
  </div>
  <div class="tile__footer">
    <span class="tile__status tile__status--success">
      <mat-icon>check_circle</mat-icon>
      Ready
    </span>
  </div>
</div>
