:host {
  height: 100%;
  position: relative;
  display: block;
}

app-quill-text-editor,
div.ql-editor.ql-blank {
  height: 100%;
}

button {
  margin: 20px 0px 0px;
}

.home-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content min-content min-content;
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  max-height: calc(100% - 120px);
}

.actions {
  text-align: right;
}
