<form novalidate autocomplete="off" spellcheck="false" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Frequency" id="frequency" formControlName="frequency">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Frequency Type" formControlName="frequencyTypeId" name="frequencyTypeId">
      <mat-option *ngFor="let frequencyType of frequencyTypes" [value]="frequencyType.frequencyTypeId">
        {{ frequencyType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <section>
    <mat-checkbox formControlName="isDesired">Is Desired</mat-checkbox>
  </section>

  <div class="actions">
    <button mat-button (click)="handleSaveClick()">{{ "Save" | translate }}</button>
  </div>
</form>
