<app-primary-header>
  My Profile
</app-primary-header>

<section class="page-content-container">
  <form novalidate autocomplete="off" spellcheck="false" [formGroup]="form">
    <img src="{{ baseUrl }}{{ (profile$ | async)?.avatarUrl }}" />

    <app-digital-asset-input-url [placeholder]="'Avatar Image Url'" formControlName="avatarUrl"></app-digital-asset-input-url>

    <mat-form-field>
      <input matInput placeholder="{{ 'Name' | translate }}" id="name" formControlName="name">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="handleSaveClick()">Save</button>

  </form>
</section>
