:host {

  img {
    border-radius: 50%;
    margin-bottom:40px;
    max-height:200px;
  }
  
  .page-content-container {
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    max-width: 1080px;
    height: 100%;
    max-height: calc(100% - 120px);
  }
  
  mat-form-field {
    width: 100%; 
  }
  
}
