:host {
  display: block;
  background-color: #fff;
  max-width: 800px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

div {
  max-height: 500px;
  overflow-y: auto;
}

form {
  margin-top: 20px;
  text-align: right;
}
