:host {
  display: block;
  width: 100%;
  height: calc(100% - 80px);
}

ag-grid-angular {
  width: 100%;
  height: 100%;
}

section {
  padding: 16px 0px 0px 0px;
}

.page-content-container {
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  max-height: calc(100% - 120px);
}
