<app-primary-header>
  {{ "Notes" | translate }}
</app-primary-header>

<section class="page-content-container">
  <ag-grid-angular class="ag-theme-material"
                   [columnDefs]="columnDefs"
                   [rowData]="notes$ | async"
                   [pagination]="true"
                   [paginationPageSize]="5"
                   [localeText]="localeText"
                   [frameworkComponents]="frameworkComponents"
                   (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</section>
