:host {
  align-items: center;
  background-color: var(--default-color, rgb(241, 241, 241));
  color: #fff;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
